<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/stylesheets/list.css" />
    <link rel="stylesheet" href="../../public/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../public/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../../public/javascripts/profile.js"></script>

</head>
<body>
    {{> layout}}
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="[ col-xs-12 col-sm-offset-0 col-sm-10 ]">
                    <div class="panel-heading">
                        <h3 class="panel-title">ALL QUESTIONS</h3>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Rating</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each questions}}
                            <tr>
                                <td>{{this.dateofcreation}}</td>
                                <td><a href="/questions/{{this._id}}">{{this.title}}</a></td>
                                <td>{{this.dateofupdate}}</td>
                                <td>{{this.rating}}</td>
                                <td>
                                    <a data-target="#editQuestionModal" data-id={{this._id}} class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                    <a data-target="#deleteQuestionModal" data-id={{this._id}} class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>        